<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Página não encontrada!</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Vixi! Não encontrei nada aqui meu fi...</p>
        </LayoutView>
    </NotFound>
</Router>
